{% extends 'firstapp/base.html' %}
{% block title %}Индекс{% endblock title%}
{% block header %}Главная страница{% endblock header%}
{% block content %}Связка шаблонов index.html и base.html
    <p>Дата:  {% now 'j/m/Y' %}</p>
    <p>Анализ возраста клиента</p>
    {% if age > 65 %}
        <p>Клиент пенсионного возраста</p>
    {% else %}
        <p>Клиент не достиг пенсионного возраста</p>
    {% endif %}
    {% for i in data %}
        <li>{{ i }}</li>
    {% endfor %}

    {% with name="ЧАЙХАНА" %}
        <div>
        <p>При магазине работает {{ name }}</p>
        </div>
    {% endwith %}


{% endblock content%}
